/* Soluzione qui */

/* 
    media-mobile-f-md
 */
@media screen and  (min-width: 768px) {
    #topbar {
        justify-content: flex-start;
    }

    .container {
        padding: 20px;
    }
}

