/* Soluzione qui */

/* 
    media-mobile-f-md 768px
 */
@media screen and  (min-width: 768px) {

    /* Il logo nell'header si allinea a sinistra */
    #topbar {
        justify-content: flex-start;
    }

    /* Il padding del contenuto principale della pagina aumenta */
    .container {
        padding: 20px;
    }

    /* Compare il testo "(Dolce Tradizionale)" */
    .recipe-origin {
        display: inline-block;
    }

    /* La grandezza del titolo diventa più grande */
    .recipe-name {
        font-size: 2.3rem;
    }

    /* Le informazioni della ricetta sotto il video si dispongono a griglia */
    .quick-notes ul {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    .quick-notes li {
        flex-basis: calc(100% / 3 - 10px);
    }

    /* I bottoni social si allargano */
    .social-networks button {
        flex-basis: calc(100% / 5 - 20px);

    }

    /* compare il banner pubblicitario */
    .ads {
        display: inline-block;
    }

    /* l'immagine nella descrizione della ricetta viene circondata dal testo */
    .presentation img {
        float: left;
        margin-right: 1em;
    }
}

/* 
    media-mobile-f-lg  992px
 */

 @media screen and (min-width: 992px) {

    /* La grandezza el titolo della ricetta aumenta ancora di più */
    .recipe-name {
        font-size: 3rem;
    }
    /* Le informazioni della ricetta tornano a disporsi una sotto l'altra */

    .quick-notes ul {
        display: block;   
    }

    /* Il video e le altre informazioni della ricetta si dispongono uno accanto all'altro */
    .recipe-card {
        display: flex;
        
    }
    .recipe-video {
        flex-basis: 70%;
        height: auto;
    }

    .recipe-info {
        flex-basis: 30%;    
       
    }

    /* Compaiono i nomi delle piattaforme social */
    .social-networks .label {
        display: block;
    }

    /* 
        soluzione alternativa senza flex 
    */

    /* .social-networks .label {
        display: inline-block;
    } */

    .social-networks button {
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    
    /* Nel footer i dati del sito e il menu di navigazione di dispongono sulla stessa linea ma su lati opposti */
    
    footer {
        display: flex;
        justify-content: space-between;
        
    }
    address {
        text-align: left;
    }
}  

